mixin carousel(item)
	- var DIR = 'assets/blocks/carousel/';
	- var IMG_DIR = DIR + 'images/';
	// begin .carousel
	+b.carousel&attributes(attributes)
		if item
			- var jsClass = item.jsClass || 'js-default-carousel'
			+e.inner(class='swiper-inner')
				+e.container(class='swiper-container ' + jsClass)
					+e.wrapper(class='swiper-wrapper')
						if item.slides
							each slide in item.slides
								+e.slide(class='swiper-slide')
									+e.test-content
										!=slide

				if item.nav
					- var nav = item.nav
					- var scope = nav.scope || '.swiper-inner'
					- var target = nav.target || '.swiper-container'

					+e.nav(class='carousel-nav ' + nav.class data-scope=scope data-target=target)
						if nav.arrows
							+e('button').arrow._type_prev(class='carousel-nav__arrow carousel-nav__arrow_type_prev js-carousel-prev')
								| Прошлый слайд

						if nav.arrows
							+e('button').arrow._type_next(class='carousel-nav__arrow carousel-nav__arrow_type_next js-carousel-next')
								| Следующий слайд
		block
	// end .carousel
