DIR = '../blocks/form/'
IMG_DIR = DIR + 'images/'

.form
	display block



	&__inputs
		margin 0 0 30px

		&:last-child
			margin-bottom 0



	&__line
		position relative
		margin 0 0 20px

		&:last-child
			margin-bottom 0

		// Modifiers
		&_type
			&_required
				&:after
					content '*'
					position absolute
					top 5px
					left 8px
					z-index 1
					display block
					font-size 12px



	&__input
	&__select
		display block
		width 100%
		height 40px
		margin 0
		padding 0 15px
		color #000
		font-size 16px
		line-height 40px
		background transparent
		border 1px solid #777
		border-radius 3px
		outline none

		def-trn border

		placeholder(#999, 16px)

		&:hover
		&:active
			border-color #000

		&:focus
			border-color #2196f3

		// Modifiers
		&_state
			&_error
				border-color #d00101

			&_valid
				border-color #3cd9ff



	&__select
		padding 0 11px

		&:invalid
			color #999



	&__option
		color #000
		font-size 16px



	&__submit
		text-align center
