DIR = '../blocks/pagination/'
IMG_DIR = DIR + 'images/'

pgn-color = #000
pgn-button-color = #077de2
pgn-background-color = #eee
pgn-border-color = #bbb

pgn-active-color = #004085
pgn-active-background-color = #cce5ff
pgn-active-border-color = #b8daff

.pagination
	display block
	overflow hidden
	width 100%
	font-size 0
	line-height 1.2
	text-align left



	&__wrapper
		margin 0 -5px



	&__item
		display inline-block
		vertical-align middle
		margin 0
		padding 5px
		font-size 16px
		text-align center



	&__control
		display block
		min-width 32px
		height 32px
		padding 0 5px
		color pgn-button-color
		line-height 28px
		text-decoration none
		background pgn-background-color
		border 1px solid pgn-border-color
		def-trn all

		&:hover
		&:active
		&:focus
			color pgn-active-color
			text-decoration none
			background pgn-active-background-color
			border-color pgn-active-border-color

		// Modifiers
		&_state
			&_active
				color pgn-active-color
				border-color pgn-active-border-color



	&__dots
		display block
		min-width 25px
		height 32px
		padding 0 5px
		color pgn-color
		font-weight 400
		line-height 32px



	// Modifiers
	&_align
		&_left
			text-align left

		&_center
			text-align center

		&_right
			text-align right

		for name, breakpoint in breakpoints
			&_{name}
				&-left
					+above(breakpoint)
						text-align left

				&-center
					+above(breakpoint)
						text-align center

				&-right
					+above(breakpoint)
						text-align right
