mixin pagination(item)
	- var DIR = 'assets/blocks/pagination/';
	- var IMG_DIR = DIR + 'images/';
	// begin .pagination
	+b.pagination&attributes(attributes)
		- var settings = item || {}
		- var current = settings.current || 1
		- var range = settings.range || 2
		- var total = settings.total || 12
		- var low = current - range
		- var high = current + range

		- var controls = new Array(total)

		+e.wrapper
			each control, i in controls
				- var shouldBePlaced = false
				- var content = '...'
				- var isActive = false

				if (i === 0 || i === total - 1 || (i >=  low - 1 && i < high))
					- shouldBePlaced = true
					- content = i + 1
				else if (i === low - 2 || i === high)
					- shouldBePlaced = true

				if (i === current - 1)
					- isActive = true

				if (shouldBePlaced)
					+e.item
						if (content === '...')
							+e.dots
								!=content
						else if (isActive)
							+e.control._state_active(href='#')
								!=content
						else
							+e.control(href='#')
								!=content

		block
	// end .pagination
