mixin collapsible-group(items)
	- var DIR = 'assets/blocks/collapsible-group/';
	- var IMG_DIR = DIR + 'images/';
	// begin .collapsible-group
	+b('ul').collapsible-group&attributes(attributes)
		if items
			each item in items
				+e('li').item
					+collapsible-block(item)
		block
	// end .collapsible-group
