DIR = '../blocks/search-form/'
IMG_DIR = DIR + 'images/'

.search-form
	position relative
	display block



	&__input
		display block
		width 100%
		height 40px
		padding 0 40px 0 15px
		color #000
		font-size 14px
		line-height 40px
		background #fff
		border 1px solid #a6a6a6
		border-radius 4px
		outline none

		placeholder(#adadad, 14px)

		+above(size-l)
			height 50px
			padding 0 60px 0 20px
			font-size 16px
			line-height 50px

			placeholder(#adadad, 16px)

		&:focus
			border-color #0dacef



	&__control
		position absolute
		top 0
		right 0
		display block



	&__button
		display block
		width 42px
		height 42px
		font-size 0
		background transparent
		border none
		outline none

		+above(size-l)
			width 50px
			height 50px

		&:focus
			.search-form
				&__icon
					fill #0dacef



	&__icon
		width 16px
		height 16px
		fill #656565

		+above(size-l)
			width 20px
			height 20px



	&__hints
		position absolute
		top 100%
		right 4px
		left 4px
		z-index 1
		display none
		overflow-y auto
		max-height 400px
		background #fff
		box-shadow 0 4px 10px rgba(0, 0, 0, .25)

		+above(size-l)
			max-height 450px

		// Modifiers
		&_state
			&_open
				display block
