mixin search-form(item)
	- var DIR = 'assets/blocks/search-form/';
	- var IMG_DIR = DIR + 'images/';
	// begin .search-form
	+b('form').search-form&attributes(attributes)
		if item
			+e('input').input(type='text' placeholder=item.placeholder)
			if item.button
				+e.control
					- var button = item.button
					- var buttonTag = button.tag || 'button'
					- var buttonType = button.type || 'submit'
					- var buttonIcon = button.icon || 'mg'

					+e(buttonTag).button(type=buttonType)
						+icon('mg').icon
	// end .search-form
