mixin modal(title)
	- var DIR = 'assets/blocks/modal/';
	- var IMG_DIR = DIR + 'images/';
	// begin .modal
	+b.modal&attributes(attributes)
		if title
			+e.title
				+title('h2')._size_h4._align_center
					!=title
		+e.content
			block
	// end .modal
