DIR = '../blocks/modal/'
IMG_DIR = DIR + 'images/'

.modal
	display none
	width 100%
	padding 26px 15px 30px
	background #fff

	+above(size-s)
		max-width 495px
		padding 26px 30px 30px



	&__title
		margin 0 0 30px

		&:last-child
			margin-bottom 0
