DIR = '../blocks/carousel-nav/'
IMG_DIR = DIR + 'images/'

.carousel-nav
	display flex
	justify-content center
	flex-wrap wrap
	padding 20px 0



	&__arrow
		position relative
		display block
		flex 0 0 auto
		width 20px
		height 25px
		color #333
		font-size 0
		text-decoration noen
		background transparent
		border none
		outline none

		def-trn background

		&:before
			content ''
			z-index 1
			display block
			width 15px
			height 15px
			color inherit
			border-top 1px solid
			border-right 1px solid
			transition color trn-speed trn-ease, transform trn-speed trn-ease

		&:hover
		&:active
		&:focus
			color #333
			text-decoration none

		// Modifiers
		&_type
			&_prev
				&:hover
				&:active
				&:focus
					&:before
						transform translate(25%, 0) rotate(-135deg)

				&:before
					transform translate(45%, 0) rotate(-135deg)

			&_next
				&:hover
				&:active
				&:focus
					&:before
						transform translate(5%, 0) rotate(45deg)

				&:before
					transform translate(-20%, 0) rotate(45deg)



	// Modifiers
	&_type
		&_overlapping
			display block
			padding 0

			.carousel-nav
				&__arrow
					position absolute
					top 50%
					z-index 5
					width 45px
					height 60px
					color #fff
					background #666b
					transform translate(0, -50%)

					&:before
						position absolute
						top 50%
						left 50%

					&:hover
					&:active
					&:focus
						color #fff
						background #666

					&_type
						&_prev
							left -10px

							&:before
								transform translate(-30%, -50%) rotate(-135deg)

						&_next
							right -10px

							&:before
								transform translate(-70%, -50%) rotate(45deg)
