DIR = '../blocks/mobile-nav/'
IMG_DIR = DIR + 'images/'

.mobile-nav
	display block



	&__head
		width 100%
		background #ececec



	&__logo
		display inline-block
		vertical-align middle
		padding 5px 5px 5px 20px
		text-align left



	&__control
		display inline-block
		vertical-align middle
		width 100%
		max-width 280px
