mixin breadcrumbs(items)
	- var DIR = 'assets/blocks/breadcrumbs/';
	- var IMG_DIR = DIR + 'images/';
	// begin .breadcrumbs
	+b('ul').breadcrumbs&attributes(attributes)
		each item, i in items
			+e('li').item
				if item.href
					+e.link(href=item.href)
						!= item.name
				else
					!= item.name
	// end .breadcrumbs
