DIR = '../blocks/breadcrumbs/'
IMG_DIR = DIR + 'images/'

breadcrumbs-default-color = #676767
breadcrumbs-hover-color = #1eca9a
breadcrumbs-active-color = #1eca9a
breadcrumbs-focus-color = #1eca9a
breadcrumbs-font-size = 16px
breadcrumbs-line-height = 1.5

breadcrumbs-separator-margin = 0 .3em

.breadcrumbs
	display block
	margin 0
	padding 0
	list-style none
	color breadcrumbs-default-color
	font-family 'Open Sans', sans-serif
	font-size 0
	line-height breadcrumbs-line-height



	&__item
		display inline-block
		vertical-align middle
		margin 0
		padding 0
		font-size breadcrumbs-font-size

		&:first-child
			&:before
				display none

		&:before
			content '/'
			display inline-block
			vertical-align baseline
			width auto
			height auto
			margin breadcrumbs-separator-margin
			color inherit



	&__link
		display inline
		color inherit
		font-size inherit
		line-height inherit
		text-decoration none
		outline none
		def-trn color

		&:hover
			color breadcrumbs-hover-color
			text-decoration none

		&:active
			color breadcrumbs-active-color
			text-decoration none

		&:focus
			color breadcrumbs-focus-color
			text-decoration none
