DIR = '../blocks/title/'
IMG_DIR = DIR + 'images/'

.title
	display block
	margin 0
	padding 0
	font-weight 600
	line-height 1.2
	text-align left



	// Modifiers
	&_size
		&_h1
			font-size 30px

		&_h2
			font-size 28px

		&_h3
			font-size 26px

		&_h4
			font-size 24px

		&_h5
			font-size 22px

		&_h6
			font-size 20px

	&_align
		&_left
			text-align left

		&_center
			text-align center

		&_right
			text-align right

		for name, breakpoint in breakpoints
			&_{name}
				&-left
					+above(breakpoint)
						text-align left

				&-center
					+above(breakpoint)
						text-align center

				&-right
					+above(breakpoint)
						text-align right
