include ../../../node_modules/bemto.pug/bemto
include ../page/page
include ../logo/logo
include ../header/header
include ../footer/footer
include ../nav/nav
include ../form/form
include ../button/button
include ../scripts/scripts
include ../work-list/work-list
include ../icon/icon
include ../burger/burger
include ../mobile-nav/mobile-nav
include ../title/title
include ../grid/grid
include ../breadcrumbs/breadcrumbs
include ../documentation/documentation
include ../example/example
include ../tabs/tabs
include ../section/section
include ../video/video
include ../rating/rating
include ../fancybox/fancybox
include ../modal/modal
include ../search-form/search-form
include ../carousel/carousel
include ../carousel-nav/carousel-nav
include ../alert/alert
include ../pagination/pagination
include ../entry-list/entry-list
include ../entry-snippet/entry-snippet
include ../collapsible-group/collapsible-group
include ../collapsible-block/collapsible-block
include ../social-nav/social-nav

- var timestamp = Date.now();

+page('html')(lang='ru')

	include ../head/head

	+e('body').body(class="grid _cols_12")
		+e.header
			+header

		+e.nav-panel
			.grid__container
				+e.nav
					+nav([
					{
						text: 'Home',
						href: 'index.html',
						active: true
					},
					{
						text: 'Page',
						href: '#'
					},
					{
						text: 'Another page',
						href: '#'
					}
				])._type_l-horizontal

				+e.burger
					+burger(
							data-toggle-scope=".page, .page__body, .page__burger"
							data-toggle-target=".page__body, .page__slide-nav, .burger"
							data-toggle-class="page__body_nav_open, page__slide-nav_state_open, burger_type_close"
							class='js-toggle'
					)
						| Показать/скрыть навигацию

		+e.content
			block content

		+e.footer
			+footer

		+e.slide-nav
			+mobile-nav
				+e.head
					+e.logo
						+logo('logo.png')
				+e.content
					+nav([
						{
							text: 'Home',
							href: 'index.html',
							active: true
						},
						{
							text: 'Page',
							href: '#'
						},
						{
							text: 'Another page',
							href: '#'
						}
					])

		include ../../include/_modals

		+scripts([
			'assets/components/jquery-3.4.1/jquery.min.js',
			'assets/components/swiper-5.3.1/js/swiper.min.js',
			'assets/components/jquery-validation-1.19.1/jquery.validate.min.js',
			'assets/components/inputmask-5.0.3/jquery.inputmask.min.js',
			'assets/components/fancybox-3.5.7/jquery.fancybox.min.js',
			'assets/components/svg4everybody-2.1.9/svg4everybody.min.js',
			'assets/scripts/validate.js',
			'assets/scripts/helpers.js',
			'assets/scripts/common.js',
			'assets/scripts/custom.js'
		])
