DIR = '../blocks/nav/'
IMG_DIR = DIR + 'images/'

.nav
	background #f5f5f5


	&__list
		display block
		margin 0
		padding 0
		list-style none



	&__item
		margin 0
		padding 0
		list-style none
		border-bottom 1px solid #b8b8b8



	&__link
		display block
		height 100%
		padding 10px 20px
		color inherit
		text-decoration none
		background transparent
		def-trn all

		&:hover
		&:active
		&:focus
			color inherit
			text-decoration none
			background #e6e6e6

		// Modifiers
		&_state
			&_active
				background #e6e6e6



	// Modifiers
	&_type
		for name, breakpoint in breakpoints
			&_{name}
				&-horizontal
					background transparent

					.nav
						&__list
							+above(breakpoint)
								display flex
								justify-content left
								align-items flex-start
								flex-direction row

						&__item
							+above(breakpoint)
								border-bottom none

						&__link
							background transparent

							&:hover
							&:active
							&:focus
								color #1eca9a
								background transparent

							&.nav
								&__link
									&_state_active
										color #1eca9a
										background transparent
