mixin nav(items)
	- var DIR = 'assets/blocks/nav/';
	- var IMG_DIR = DIR + 'images/';
	// begin .nav
	+b('nav').nav&attributes(attributes)
		if items
			+e('ul').list
				each item, i in items
					+e.item
						if item.active
							+e.link._state_active(href=item.href)
								!=item.text
						else
							+e.link(href=item.href)
								!=item.text
	// end .nav
