mixin section(item)
	- var DIR = 'assets/blocks/section/';
	- var IMG_DIR = DIR + 'images/';
	// begin .section
	+b.section&attributes(attributes)
		if item
			if item.title
				+e.header
					+e.title
						- var titleSize = item.title.size || 'h2'
						- var titleModifiers = item.title.modifiers || ''
						+title(item.title.tag)(class='_size_' + titleSize + ' ' + titleModifiers)
							!=item.title.text

				+e.content
					block
		else
			block
	// end .section
