DIR = '../blocks/section/'
IMG_DIR = DIR + 'images/'

.section
	display block
	padding 25px 0

	+above(size-l)
		padding 50px 0



	&__header
		margin 0 0 20px

		&:last-child
			margin-bottom 0



	// Modifiers
	&_spacing
		&_close
			padding 0

		&_top
			&-close
				padding-top 0

		&_bottom
			&-close
				padding-bottom 0
