DIR = '../blocks/button/'
IMG_DIR = DIR + 'images/'

.button
	display inline-block
	vertical-align middle
	padding 5px
	color #000
	font-size 14px
	font-weight 400
	line-height 1.5
	text-align center
	text-decoration none
	cursor pointer
	user-select none
	background #fff
	border 1px solid #000
	outline none
	box-shadow 0 12px 15px rgba(0 0 0 0)

	def-trn color, background

	+above(size-l)
		padding 8px
		font-size 16px

	+above(size-xl)
		padding 13px 12px

	&:hover
	&:active
		color #fff
		background #3a3a3a
		box-shadow 0 12px 15px rgba(0 0 0 .21)



	// Modifiers
	&_width
		&_full
			display block
			width 100%

	&_size
		&_small
			padding 5px
			font-size 14px

		&_medium
			padding 8px
			font-size 16px

		&_large
			padding 15px 18px
			font-size 18px

		for name, breakpoint in breakpoints
			&_{name}
				&-small
					+above(breakpoint)
						padding 5px
						font-size 14px

				&-medium
					+above(breakpoint)
						padding 8px
						font-size 16px

				&-large
					+above(breakpoint)
						padding 15px 18px
						font-size 18px


