mixin alert(item)
	- var DIR = 'assets/blocks/alert/';
	- var IMG_DIR = DIR + 'images/';
	// begin .alert
	+b.alert&attributes(attributes)
		if item
			if typeof item === 'string'
				+e.fields
					+e.field
						!=item
			else
				if item.title
					+e.title
						!=item.title

				+e.fields
					each field in item.fields
						+e.field
							!=field.text
		else
			block
	// end .alert
