DIR = '../blocks/alert/'
IMG_DIR = DIR + 'images/'

// all colors are taken from bootstrap v4.0
.alert
	display block
	margin 0 0 15px
	padding 10px 15px
	color #004085
	background #cce5ff
	border 1px solid transparent
	border-color #b8daff
	border-radius 5px

	&:last-child
		margin-bottom 0



	&__title
		margin 0 0 25px
		font-size 1.5em
		font-weight 700

		&:last-child
			margin-bottom 0



	&__fields
		margin 0 0 25px
		&:last-child
			margin-bottom 0

	&__field
		margin 0 0 15px

		&:last-child
			margin-bottom 0



	&__link
		display inline
		vertical-align baseline
		color inherit
		font-weight 700
		text-decoration underline

		&:hover
		&:active
		&:focus
			color inherit
			text-decoration none



	// Modifiers
	&_style
		&_default
			color #004085
			background #cce5ff
			border-color #b8daff

		&_success
			// green
			color #155724
			background-color #d4edda
			border-color #c3e6cb

		&_danger
			// red
			color #721c24
			background-color #f8d7da
			border-color #f5c6cb

		&_warning
			// orange
			color #856404
			background-color #fff3cd
			border-color #ffeeba

		&_info
			// turquoise
			color #0c5460
			background-color #d1ecf1
			border-color #bee5eb

		&_light
			color #818182
			background-color #fefefe
			border-color #fdfdfe

		&_grayscale
			color #383d41
			background-color #e2e3e5
			border-color #d6d8db


		&_dark
			color #1b1e21
			background-color #d6d8d9
			border-color #c6c8ca

