DIR = '../blocks/example/'
IMG_DIR = DIR + 'images/'

.example
	display block



	&__title
		margin 0 0 25px
		font-size 25px
		font-weight 700

		&:last-child
			margin-bottom 0



	&__group
		margin 0 0 30px
		padding 0 0 30px
		border-bottom 1px dashed #e8e8e8

		&:last-child
			margin-bottom 0
			border-bottom none



	&__description
		margin 0 0 20px
		color #000
		font-size 16px
		line-height 1.6

		&:last-child
			margin-bottom 0



	&__source
		margin 0 0 20px
		padding 10px
		font-size 14px
		line-height 1.4
		background #fbfbfb
		border 1px solid #e8e8e8

		&:last-child
			margin-bottom 0

		.hljs
			padding 5px 10px
			background transparent

			&-ln-numbers
				padding 0 5px 0 0
				color #e8e8e8

		// Modifiers
		&_border
			&_none
				border none

			&_top
				border none
				border-top 1px solid #e8e8e8

			&_right
				border none
				border-right 1px solid #e8e8e8

			&_bottom
				border none
				border-bottom 1px solid #e8e8e8

			&_left
				border none
				border-left 1px solid #e8e8e8



	&__result
		padding 10px
		background #fbfbfb
		border 1px solid #e8e8e8

		// Modifiers
		&_border
			&_none
				border none

			&_top
				border none
				border-top 1px solid #e8e8e8

			&_right
				border none
				border-right 1px solid #e8e8e8

			&_bottom
				border none
				border-bottom 1px solid #e8e8e8

			&_left
				border none
				border-left 1px solid #e8e8e8



	&__tabs
		margin 0 0 20px

		&:last-child
			margin-bottom 0
