DIR = '../blocks/burger/'
IMG_DIR = DIR + 'images/'

burger-width = 24px
burger-height = 18px
burger-line-thickness = 2px
burger-line-color = #000

.burger
	position relative
	z-index 10
	display inline-block
	vertical-align middle
	width burger-width
	height burger-height
	margin 0
	font-size 0
	line-height 1
	cursor pointer
	background transparent
	border burger-line-thickness solid burger-line-color
	border-left none
	border-right none
	outline none

	def-trn border-color

	&:hover
		opacity .8

	&:before
	&:after
		content ''
		position absolute

	&:before
	&:after
		top 50%
		left 50%
		transform translate(-50%, -50%)
		display block
		width burger-width
		height burger-line-thickness
		background burger-line-color
		transition transform trn-speed trn-ease

	// Modifiers
	&_type
		&_close
			border-color transparent

			&:before
				transform translate(-50%, -50%) rotate(-45deg)

			&:after
				transform translate(-50%, -50%) rotate(45deg)
