mixin video(item)
	- var DIR = 'assets/blocks/video/';
	- var IMG_DIR = DIR + 'images/';
	// begin .video
	+b.video&attributes(attributes)
		- var src = item || 'https://www.youtube.com/embed/J---aiyznGQ'
		+e('iframe').content(src=src)
		block
	// end .video
