DIR = '../blocks/video/'
IMG_DIR = DIR + 'images/'

.video
	position relative
	display block
	overflow hidden
	width 100%
	height auto
	background #c4c4c4

	&:before
		content ''
		display block
		width 100%
		height auto
		padding 56.25% 0 0

	&:after
		content ''
		position absolute
		top 50%
		left 50%
		z-index 1
		display block
		width 0
		height 0
		border-top 35px solid transparent
		border-left 62px solid #fff
		border-bottom 35px solid transparent
		transform translate(-50%, -50%)

	&__content
		position absolute
		top 0
		left 0
		z-index 2
		display block
		width 100%
		height 100%
		margin 0
		padding 0
		border none
