:root
	// Transitions
	--trn-speed .3s
	--trn-ease ease

	// Colors
	// Bootstrap -  all colors are taken from bootstrap v4.0
	// Blue
	--tc-default-dark #004085
	--tc-default-light #b8daff
	--tc-default-lighter #cce5ff
	// Green
	--tc-success-dark #155724
	--tc-success-light #c3e6cb
	--tc-success-lighter #d4edda
	// Red
	--tc-danger-dark #721c24
	--tc-danger-light #f5c6cb
	--tc-danger-lighter #f8d7da
	// Yellow
	--tc-warning-dark #856404
	--tc-warning-light #ffeeba
	--tc-warning-lighter #fff3cd
	// Turquoise
	--tc-info-dark #0c5460
	--tc-info-light #bee5eb
	--tc-info-lighter #d1ecf1
	// Light
	--tc-light-dark #818182
	--tc-light-light #fdfdfe
	--tc-light-lighter #fefefe
	// Gray
	--tc-gray-dark #383d41
	--tc-gray-light #d6d8db
	--tc-gray-lighter #e2e3e5
	// Dark
	--tc-dark-dark #1b1e21
	--tc-dark-light #c6c8ca
	--tc-dark-lighter #d6d8d9
