DIR = '../blocks/work-list/'
IMG_DIR = DIR + 'images/'

.work-list
	display block
	color main-color



	&__title
		display block
		font-size 40px
		font-weight 600



	&__list
		counter-reset workList



	&__item
		&:before
			content counter(workList)'.'
			counter-increment workList
			display inline-block
			vertical-align middle
			min-width 20px
			padding 0 5px 0 0
			font-size 20px
			text-align left



	&__link
		display inline-block
		vertical-align middle
		color inherit
		font-size 20px
		text-decoration none

		&[href='#']
			cursor default
			pointer-events none
			opacity .2
