mixin work-list(items)
	- var DIR = 'assets/blocks/work-list/';
	- var IMG_DIR = DIR + 'images/';
	// begin .work-list
	+b.work-list&attributes(attributes)
		+e.title('h1')
			block
		if items
			+e.list('ol')
				each item, i in items
					+e.item('li')
						if item.type === 'modal'
							+e.link(href=item.href class='js-modal')
								!=item.name
						else
							+e.link(href=item.href)
								!=item.name
	// end .work-list
