mixin social-nav(items)
	- var DIR = 'assets/blocks/social-nav/';
	- var IMG_DIR = DIR + 'images/';
	// begin .social-nav
	+b.social-nav&attributes(attributes)
		if items
			+e('ul').list
				each item in items
					+e('li').item
						+e.link(href=item.href)
							+icon(item.name).icon
		block
	// end .social-nav
