DIR = '../blocks/social-nav/'
IMG_DIR = DIR + 'images/'

.social-nav
	display block



	&__list
		display block
		margin 0
		padding 0
		list-style none
		font-size 0
		line-height 0



	&__item
		display inline-block
		vertical-align middle
		margin 0 10px 0 0
		padding 3px 0

		&:last-child
			margin-bottom 0



	&__link
		display block
		width auto
		height auto
		fill #676767
		color inherit
		text-decoration none
		outline none

		&:hover
		&:active
			fill #a4a4a4
			color inherit
			text-decoration none

		&:focus
			fill #0dacef
			color inherit
			text-decoration none



	&__icon
		display block
		width 100%
		max-width 20px
		height 100%
		max-height 20px
		fill inherit

		def-trn fill



	// Modifiers
	&_align
		&_left
			text-align left

		&_center
			text-align center

		&_right
			text-align right

		for name, breakpoint in breakpoints
			&_{name}
				&-left
					+above(breakpoint)
						text-align left

				&-center
					+above(breakpoint)
						text-align center

				&-right
					+above(breakpoint)
						text-align right

	&_size
		&_small
			.social-nav
				&__item
					margin 0 6px 0 0

					&:last-child
						margin-bottom 0

				&__icon
					max-width 16px
					max-height 16px

		&_medium
			.social-nav
				&__item
					margin 0 10px 0 0

					&:last-child
						margin-bottom 0

				&__icon
					max-width 20px
					max-height 20px

		&_large
			.social-nav
				&__item
					margin 0 15px 0 0

					&:last-child
						margin-bottom 0

				&__icon
					max-width 28px
					max-height 28px

		for name, breakpoint in breakpoints
			&_{name}
				&-small
					&__item
						+above(breakpoint)
							margin 0 6px 0 0

							&:last-child
								margin-bottom 0

					&__icon
						+above(breakpoint)
							max-width 16px
							max-height 16px

				&-medium
					&__item
						+above(breakpoint)
							margin 0 10px 0 0

							&:last-child
								margin-bottom 0

					&__icon
						+above(breakpoint)
							max-width 20px
							max-height 20px

				&-large
					&__item
						+above(breakpoint)
							margin 0 15px 0 0

							&:last-child
								margin-bottom 0

					&__icon
						+above(breakpoint)
							max-width 28px
							max-height 28px


