extends ../blocks/layout-default/layout-default

block head
	- var pageTitle = 'Base HTML styles';

block content
	+e.breadcrumbs
		.grid__container
			+breadcrumbs([
				{
					name: 'Page List',
					href: 'index.html'
				},
				{
					name: 'Base HTML styles'
				}
			])

	.grid__container
		h1
			| Base HTML Styles

		.bs-group(title="Основные заголовки текста")

			h1 Заголовок h1
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.

			h2 Заголовок h2
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			h3 Заголовок h3
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			h4 Заголовок h4
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			h5 Заголовок h5
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			h6 Заголовок h6
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		.bs-group(title="Просто абзацы текста")
			p
				| Lorem ipsum dolor sit amet, <a href="#">тут могут быть ссылки</a> <a href="https://yandex.ru/">посещенные ссылки</a>, <b>выделеный текст</b>, <em>наклонный текст</em> consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit.

		.bs-group(title="Вспомогательные теги")
			ul.bs-tags-style
				li
					span span
				li
					a(href="#") a
				li
					sub sub
				li
					sup sup
				li
					i i
				li
					em em
				li
					dfn dfn
				li
					b b
				li
					strong strong
				li
					s s
				li
					strike strike
				li
					del del
				li
					ins ins
				li
					q q
				li
					kbd kbd
				li
					mark mark
				li
					abbr(title="abbr") abbr
				li
					blockquote Текст цитаты
		.bs-group(title="Списки")
			ul
				li Пункт маркированного списка
				li Пункт маркированного списка
				li Пункт маркированного списка
				li Пункт маркированного списка
				li Пункт маркированного списка

			ol
				li Пункт нумерованного списка
				li Пункт нумерованного списка
				li Пункт нумерованного списка
				li Пункт нумерованного списка
				li Пункт нумерованного списка

			dl
				dt def title
				dd def desc
		.bs-group(title="Таблицы")

			table
				caption Описание таблицы
				thead
					tr
						th Заголовок столбца
						th Заголовок столбца
						th Заголовок столбца
				tbody
					tr
						th Заголовок строки
						td
							| Текст ячейки
							br
							| в несколько
							br
							| строк

						td Текст ячейки
					tr
						th Заголовок строки
						td Текст ячейки
						td Текст ячейки
					tr
						th Заголовок строки
						td &nbsp;
						td Текст ячейки
					tr
						th Заголовок строки
						td Текст ячейки
						td Текст ячейки
					tr
						th Заголовок строки
						td Текст ячейки
						td -

				tfoot
					tr
						td Текст ячейки футера
						td Текст ячейки футера
						td Текст ячейки футера
		.bs-group(title="Горизонтальный разделитель")
			hr
		.bs-group(title="Элементы формы")
			form(action="")
				fieldset
					legend Описание группы элементов формы
					select#select(name="select")
						option(value="1") option
						option(value="2") an option
						option(value="3") third option
					br
					br
					input(type="text" placeholder="text")
					br
					br
					input(type="password" placeholder="password")
					br
					br
					textarea(rows="1" placeholder="textarea")
					br
					br
					input(type="file")
					br
					br
					label(for="radio") radio button
					input#radio(type="radio" checked)
					br
					label(for="check") checkbox
					input#check(type="checkbox" checked)
					br
					br
					input(type="button" value="Кнопка")
					br
					br
					button(type="button") Еще одна кнопка
					br
					br
					input(type="reset" value="Кнопка сброса")
					br
					br
					input(type="submit" value="Кнопка отправки формы")

				fieldset
					legend другие поля (необязательно)
					input(type="email" placeholder="some@email.com")
					br
					br
					input(type="url" placeholder="some.url.com")
					br
					br
					input(type="number" placeholder="63")
					br
					br
					input(type="datetime" placeholder="datetime")
					br
					br
					input(type="datetime-local" placeholder="local datetime")
					br
					br
					input(type="search" placeholder="search")
					br
					br
					input(type="tel" placeholder="+71234567890")
					br
					br
					input(type="month" placeholder="month")
					br
					br
					input(type="week" placeholder="week")
					br
					br
					input(type="date")
					br
					br
					input(type="time")
					br
					br
					input(type="color")
					br
					br
					input(type="range")
