extends ../blocks/layout-default/layout-default

block head
	- var pageTitle = 'Block showcase';

block content
	+e.breadcrumbs
		.grid__container
			+breadcrumbs([
				{
					name: 'Page List',
					href: 'index.html'
				},
				{
					name: 'Block Showcase'
				}
			])
	.grid__container
		+example()
			+e.group
				+e.title
					| Search form

				+e.result
					+search-form({
						placeholder: 'Search',
						button: true
					})

			+e.group
				+e.title
					| Slider

				+e.result
					+carousel({
						slides: [
							'1',
							'2',
							'3',
							'4',
							'5',
							'6'
						],
						nav: {
							arrows: true
						}
					})

				+e.result
					+carousel({
						slides: [
							'1',
							'2',
							'3',
							'4',
							'5',
							'6'
						],
						nav: {
							arrows: true,
							class: '_type_overlapping'
						}
					})

			+e.group
				+e.title
					| Alert

				+e.result
					+alert('This is a <b>default</b> alert')
					+alert({
						title: 'Success!',
						fields: [
							{
								text: 'This is <b>success</b> alert'
							}
						]
					})._style_success
					+alert('This is a <b>danger</b> alert with a <a href="#" class="alert__link">link</a> in it')._style_danger
					+alert({
						fields: [
							{
								text: 'This is <b>warning</b>...'
							},
							{
								text: '...multiparagraph alert'
							}
						]
					})._style_warning
					+alert('This is a very long <b>info</b> warning with wrapping text inside it because there is always so much information and you never know everything, but you obviously should, so this alert presents a lot of (potentially) useful information')._style_info
					+alert('This is a <b>light</b> alert')._style_light
					+alert('This is a <b>gray</b> alert')._style_gray
					+alert('This is a <b>dark</b> alert')._style_dark

			+e.group
				+e.title
					| Pagination

				+e.result
					+pagination({
						current: 1,
						range: 2,
						total: 12
					})

					+pagination({
						current: 1,
						range: 2,
						total: 12
					})._align_center

					+pagination({
						current: 1,
						range: 2,
						total: 12
					})._align_right

					+pagination({
						current: 5,
						range: 1,
						total: 15
					})

					+pagination({
						current: 5,
						range: 2,
						total: 15
					})

					+pagination({
						current: 5,
						range: 3,
						total: 15
					})

					+pagination({
						current: 5,
						range: 4,
						total: 15
					})

					+pagination({
						current: 5,
						range: 5,
						total: 15
					})

					+pagination({
						current: 999,
						range: 2,
						total: 9999
					})

			+e.group
				+e.title
					| Entry-list & Entry-snippet

				+e.result
					+entry-list([
						{
							title: 'Lazy today',
							image: '1.png',
							href: '#',
							date: '02.02.2020'
						},
						{
							title: 'Big surprise',
							description: 'Never before seen',
							image: '2.png',
							href: '#'
						},
						{
							title: 'Went outdoors for an unscheduled workout',
							description: 'Haven\'t done this in a while. I feel alive today',
							image: '3.png',
							href: '#',
							date: '02.02.2020'
						},
						{
							title: 'Angry today',
							description: 'Damn neighbor has been meowing whole night again!',
							image: '4.png',
							href: '#',
							date: '02.02.2020'
						},
						{
							title: 'Busy',
							description: 'As I always am',
							image: '5.png',
							href: '#',
							date: '02.02.2020'
						},
						{
							title: 'Very spook, much scares',
							description: 'How do you pronounce "doge"?',
							image: '6.png',
							href: '#',
							date: '02.02.2020'
						},
						{
							title: 'I\'m just some text',
							description: 'Don\'t mind me, please. I\'m very shy and tend to cry when people try speak to me. I\'ll just be here, by myself, no need for attention. You can bug the next entry...',
							href: '#'
						},
						{
							title: 'I\'m NOT just some text',
							description: 'Because I like to think that I\'m special',
							href: '#'
						}
					])

			+e.group
				+e.title
					| Collapsible group & Collapsible block

				+e.result
					+collapsible-group([
						{
							title: 'Item 1',
							fields: [
								{
									text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla vero voluptate culpa eaque incidunt necessitatibus, facere, aliquam doloribus repellendus cumque placeat adipisci id laudantium dignissimos.'
								}
							]
						},
						{
							title: 'Item 2',
							fields: [
								{
									text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla vero voluptate culpa eaque incidunt necessitatibus, facere, aliquam doloribus repellendus cumque placeat adipisci id laudantium dignissimos.'
								}
							]
						},
						{
							title: 'Item 3',
							fields: [
								{
									text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla vero voluptate culpa eaque incidunt necessitatibus, facere, aliquam doloribus repellendus cumque placeat adipisci id laudantium dignissimos.'
								},
								{
									text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla vero voluptate culpa eaque incidunt necessitatibus, facere, aliquam doloribus repellendus cumque placeat adipisci id laudantium dignissimos.'
								}
							]
						},
						{
							title: 'Item 4',
							fields: [
								{
									text: 'Lorem'
								},
								{
									text: 'Lorem ipsum dolor sit amet.'
								},
								{
									text: 'Lorem ipsum.'
								},
							]
						},
						{
							title: 'Item 5',
							fields: [
								{
									text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla vero voluptate culpa eaque incidunt necessitatibus, facere, aliquam doloribus repellendus cumque placeat adipisci id laudantium dignissimos.'
								}
							]
						},
						{
							title: 'Item 6',
							fields: [
								{
									text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla vero voluptate culpa eaque incidunt necessitatibus, facere, aliquam doloribus repellendus cumque placeat adipisci id laudantium dignissimos.'
								}
							]
						}
					])

			+e.group
				+e.title
					| Social icons

				+e.result
					+social-nav([
						{
							name: 'fb',
							href: '#'
						},
						{
							name: 'inst',
							href: '#'
						},
						{
							name: 'vk',
							href: '#'
						},
						{
							name: 'whatsapp',
							href: '#'
						},
						{
							name: 'tw',
							href: '#'
						},
						{
							name: 'yt',
							href: '#'
						},
						{
							name: 'tg',
							href: '#'
						},
						{
							name: 'skype',
							href: '#'
						},
					])

					+social-nav([
						{
							name: 'fb',
							href: '#'
						},
						{
							name: 'inst',
							href: '#'
						},
						{
							name: 'vk',
							href: '#'
						},
						{
							name: 'whatsapp',
							href: '#'
						},
						{
							name: 'tw',
							href: '#'
						},
						{
							name: 'yt',
							href: '#'
						},
						{
							name: 'tg',
							href: '#'
						},
						{
							name: 'skype',
							href: '#'
						},
					])._align_center

					+social-nav([
						{
							name: 'fb',
							href: '#'
						},
						{
							name: 'inst',
							href: '#'
						},
						{
							name: 'vk',
							href: '#'
						},
						{
							name: 'whatsapp',
							href: '#'
						},
						{
							name: 'tw',
							href: '#'
						},
						{
							name: 'yt',
							href: '#'
						},
						{
							name: 'tg',
							href: '#'
						},
						{
							name: 'skype',
							href: '#'
						},
					])._align_right

					+social-nav([
						{
							name: 'fb',
							href: '#'
						},
						{
							name: 'inst',
							href: '#'
						},
						{
							name: 'vk',
							href: '#'
						},
						{
							name: 'whatsapp',
							href: '#'
						},
						{
							name: 'tw',
							href: '#'
						},
						{
							name: 'yt',
							href: '#'
						},
						{
							name: 'tg',
							href: '#'
						},
						{
							name: 'skype',
							href: '#'
						},
					])._size_small

					+social-nav([
						{
							name: 'fb',
							href: '#'
						},
						{
							name: 'inst',
							href: '#'
						},
						{
							name: 'vk',
							href: '#'
						},
						{
							name: 'whatsapp',
							href: '#'
						},
						{
							name: 'tw',
							href: '#'
						},
						{
							name: 'yt',
							href: '#'
						},
						{
							name: 'tg',
							href: '#'
						},
						{
							name: 'skype',
							href: '#'
						},
					])._size_large

			+e.group
				+e.title
					| Form

				+e.result
					+form()#demoForm
						+e.inputs
							.grid__group
								.grid__col.grid__col_size_12.grid__col_size_m-6
									+e.line._type_required
										+e('input').input(type='text' id="firstName" name="firstName" placeholder='First Name' required)

									+e.line._type_required
										+e('input').input(type='text' id="secondName" name="secondName" placeholder='Second Name' required)

									+e.line
										+e('input').input(type='text' id="middleName" name="middleName" placeholder='Middle Name')

									+e.line._type_required
										+e('select').select(name='gender' required)
											+e('option').option(value='' selected disabled hidden)
												| Gender
											+e('option').option(value='unspecified')
												| Unspecified
											+e('option').option(value='male')
												| Male
											+e('option').option(value='female')
												| Female
											+e('option').option(value='both')
												| Both

								.grid__col.grid__col_size_12.grid__col_size_m-6
									+e.line._type_required
										+e('input').input(type='tel' id="tel" name="tel" placeholder='Phone Number' required)

									+e.line._type_required
										+e('input').input(type='email' id="email" name="email" placeholder='Email Address' required)

									+e.line._type_required
										+e('input').input(type='password' id="password" name="password" placeholder='Password' required)

									+e.line._type_required
										+e('input').input(type='password' id="passwordRepeat" name="passwordRepeat" placeholder='Repeat Password' required)

						+e.submit
							+button()._size_medium(type='submit')
								| Register

			+e.group
				+e.title
					| Buttons

				+e.result
					+button(type="submit")
						| Default button
					+button._style_success(type="submit")
						| Success button
					+button._style_warning(type="submit")
						| Warning button
					+button._style_danger(type="submit")
						| Danger button
					+button._style_info(type="submit")
						| Info button
					+button._style_light(type="submit")
						| Light button
					+button._style_dark(type="submit")
						| Dark button
					br
					br
					+button._size_small(type="submit")
						| Small button
					+button._size_small._style_success(type="submit")
						| Success button
					+button._size_small._style_warning(type="submit")
						| Warning button
					+button._size_small._style_danger(type="submit")
						| Danger button
					+button._size_small._style_info(type="submit")
						| Info button
					+button._size_small._style_light(type="submit")
						| Light button
					+button._size_small._style_dark(type="submit")
						| Dark button
					br
					br
					+button._size_medium(type="submit")
						| Medium button
					+button._size_medium._style_success(type="submit")
						| Success button
					+button._size_medium._style_warning(type="submit")
						| Warning button
					+button._size_medium._style_danger(type="submit")
						| Danger button
					+button._size_medium._style_info(type="submit")
						| Info button
					+button._size_medium._style_light(type="submit")
						| Light button
					+button._size_medium._style_dark(type="submit")
						| Dark button
					br
					br
					+button._size_large(type="submit")
						| Large button
					+button._size_large._style_success(type="submit")
						| Success button
					+button._size_large._style_warning(type="submit")
						| Warning button
					+button._size_large._style_danger(type="submit")
						| Danger button
					+button._size_large._style_info(type="submit")
						| Info button
					+button._size_large._style_light(type="submit")
						| Light button
					+button._size_large._style_dark(type="submit")
						| Dark button

			+e.group
				+e.title
					| Nav

				+e.result
					+e.nav
						+nav([
						{
							text: 'Home',
							href: 'index.html',
							active: true
						},
						{
							text: 'Page',
							href: '#'
						},
						{
							text: 'Another page',
							href: '#'
						}
					])
					+e.nav
						+nav([
						{
							text: 'Home',
							href: 'index.html',
							active: true
						},
						{
							text: 'Page',
							href: '#'
						},
						{
							text: 'Another page',
							href: '#'
						}
					])._type_xs-horizontal
