extends ../blocks/layout-default/layout-default

block head
	- var pageTitle = 'Grid';

block content
	+e.breadcrumbs
		.grid__container
			+breadcrumbs([
				{
					name: 'Page List',
					href: 'index.html'
				},
				{
					name: 'Documentations'
				}
			])

	.grid__container
		+documentation()
			h1 Документация по блокам

			h2#documentation-burger
				| Блок Burger

			p
				= 'Функционирует при помощи глобального переключателя '
				+e('a').code-snippet(href='#documentation-js-toggle')
					| .js-toggle
				| .

			h3
				| Jade Mixin

			p
				| Миксин не принимает аргументы.

			h3
				| Styl

			p
				| В файле стилей присутствуют 4 переменные для конфигурации внешнего вида блока:

			ul
				li
					+e('span').code-snippet
						| burger-width
					= ' - для настройки внешней ширины иконки бургера'
				li
					+e('span').code-snippet
						| burger-height
					= ' - для настройки внешней высоты иконки бургера'
				li
					+e('span').code-snippet
						| burger-line-thickness
					= ' - для настройки толщины линий иконки бургера'
				li
					+e('span').code-snippet
						| burger-line-color
					= ' - для настройки цвета линий иконки бургера'

			h3
				| JS

			p
				| Персональный JavaScript отсутствует

			h2#documentation-js-toggle
				| .js-toggle

			p
				| Селектор, использующийся для переключения данных ему классов у данных ему элементов.

			h3
				| Attributes

			ul
				li
					+e('span').code-snippet
						| data-toggle-target
					= ' - принимает список селекторов через запятую.'
				li
					+e('span').code-snippet
						| data-toggle-class
					= ' - принимает список классов через запятую.'

			p
				| Количество селекторов и количество классов должно быть одинаковыми, так как порядковый номер селектора
				| должен соответствовать порядковому номеру класса, который будет переключаться на элементах с этим селектором.

			h3 JS

			p
				| Переключатель повлияет на все элементы, имеющие данный селектор.

			h2#documentation-breadcrumbs Блок Breadcrumbs

			p Навигационная цепочка, отображающая список страниц, отделяющих пользователя на текущей странице от главной страницы сайта.

			h3 Jade Mixin

			p
				| Аргументы:

			ul
				li
					+e('span').code-snippet
						| items
					= ' - принимает массив объектов cо следующими свойстами:'

					ul
						li
							+e('span').code-snippet
								| name
								+e('span').asterisk *
							= ' - название элемента цепочки.'
						li
							+e('span').code-snippet
								| href
							= ' - ссылка на соответствующую элементу страницу.'

			p
				= 'В случае, если в объекте не будет определено свойство '
				+e('span').code-snippet
					| href
				| , элемент цепочки будет представлен как обыкновенный текст, а не ссылка.

			h3 Styl

			p
				| В файле стилей присутствуют 4 переменные для конфигурации внешнего вида блока:

			ul
				li
					+e('span').code-snippet
						| breadcrumbs-default-color
					= ' - обычный цвет текста элемента цепочки.'
				li
					+e('span').code-snippet
						| * breadcrumbs-hover-color
					= ' - цвет текста элемента цепочки при наведении на него курсора.'
				li
					+e('span').code-snippet
						| * breadcrumbs-active-color
					= ' - цвет текста элемента цепочки при нажатии на него.'
				li
					+e('span').code-snippet
						| * breadcrumbs-focus-color
					= ' - цвет текста элемента цепочки получившего фокус.'
				li
					+e('span').code-snippet
						| breadcrumbs-font-size
					= ' - размер шрифта.'
				li
					+e('span').code-snippet
						| breadcrumbs-line-height
					= ' - высота строки.'
				li
					+e('span').code-snippet
						| breadcrumbs-separator-margin
					= ' - размер отступов разделителя элементов цепочки. Принимает значения в том же формате, что и обычный '
					+e('span').code-snippet
						| margin
					| .

			p
				+e('span').code-snippet
					| *
				= ' - действует только на элементы цепочки, являющиеся ссылкамм.'

			h3 JS

			p
				| Персональный JavaScript отсутствует.

			h2#documentation-tabs Блок Tabs

			h3 Jade Mixin

			p
				| Аргументы:

			ul
				li
					+e('span').code-snippet
						| items
					= ' - принимает массив объектов cо следующими свойстами:'

					ul
						li
							+e('span').code-snippet
								| text
								+e('span').asterisk *
							= ' - название вкладки.'
						li
							+e('span').code-snippet
								| href
								+e('span').asterisk *
							= ' - ссылка на вкладку.'
						li
							+e('span').code-snippet
								| class
							= ' - название класса вкладки.'

			h3 Styl

			p
				| Модификаторы:

			ul
				li
					+e('span').code-snippet
						| _nav-align
					= ' - отвечает за горизонтальное позиционирование вкладок. Без модификатора эффект аналогичен состоянию _left.'

					ul
						li
							+e('span').code-snippet
								| _left
						li
							+e('span').code-snippet
								| _center
						li
							+e('span').code-snippet
								| _right
						li
							+e('span').code-snippet
								| _around
						li
							+e('span').code-snippet
								| _between

					= 'Аналогично свойству css '
					+e('span').code-snippet
						| justify-content
					| .

			h3 Элемент Label

			p
				| Модификаторы:

			ul
				li
					+e('span').code-snippet
						| _state
					= ' - отвечает за состояние вкладки.'

					ul
						li
							+e('span').code-snippet
								| _active
							= ' - активно.'
						li
							+e('span').code-snippet
								| _disabled
							= ' - неактивно, не срабатывает событие нажатия на вкладку.'

			h3 Элемент Panel

			p
				| Модификаторы:

			ul
				li
					+e('span').code-snippet
						| _state
					= ' - отвечает за видимость элемента panel.'
					ul
						li
							+e('span').code-snippet
								| _active
							= ' - видим.'
						li
							+e('span').code-snippet
								| _hidden
							= ' - невидим.'

			h3 JS

			p
				| После загрузки страницы:

			ul
				li
					= 'обнаруживает все блоки с классом '
					+e('span').code-snippet
						| .tabs
					| .
				li
					= 'обнаруживает все вкладки и панели этого блока.'
				li
					= 'если в блоке обнаруживается активная вкладка, то её индекс записывается, иначе используется индекс '
					+e('span').code-snippet
						| 0
					| .
				li
					= 'все панели скрываются установкой на них класса '
					+e('span').code-snippet
						| tabs__panel_state_hidden
					| .
				li
					= 'включается видимость панели с записанным индексом, путём установки на неё класса '
					+e('span').code-snippet
						| tabs__panel_state_active
					| .
				li
					| устанавливается слушатель событий нажатия на все вкладки этого блока.

			p
				| После нажатия на вкладку:

				ul
					li
						= 'проверяется наличие на най класса '
						+e('span').code-snippet
							| tabs__label_state_disabled
						| , если такой присутствует, то работа скрипта завершается.
					li
						| записывает порядковый номер нажатой вкладки.
					li
						= 'убирает со всех вкладок класс '
						+e('span').code-snippet
							| tabs__label_state_active
						= ' и устанавливает его на вкладку с записанным индексом.'

					li
						= 'убирает со всех панелей класс '
						+e('span').code-snippet
							| tabs__panel_state_active
						= ' и устанавливает его на панель с записанным индексом.'

			h2#documentation-button Блок Button

			p
				= 'Кнопка может быть сделана с использованием html тэгов '
				+e('span').code-snippet
					| button
				= ', '
				+e('span').code-snippet
					| a
				= ', '
				+e('span').code-snippet
					| input
				= ' и '
				+e('span').code-snippet
					| div
				| .

			h3 Jade Mixin

			p
				| Агрументы отсутствуют. Миксин состоит из одного блока, содержимое может быть передано в него в месте вызова.

			h3 Styl

			p
				| Модификаторы:

			ul
				li
					+e('span').code-snippet
						| _width
					= ' - отвечает за ширину кнопки. Без модификатора ширина кнопки зависит от её содержимого.'
					ul
						li
							+e('span').code-snippet
								| _full
							= ' - ширина кнопки становится равна '
							+e('span').code-snippet
								| 100%
							= ' её родителя.'
				li
					+e('span').code-snippet
						| _size
					= ' - отвечает за размер кнопки.'
					ul
						li
							+e('span').code-snippet
								| _small
						li
							+e('span').code-snippet
								| _medium
						li
							+e('span').code-snippet
								| _large
						li
							p
								= 'Также генерируются модификаторы для каждой контрольной точки в формате '
								+e('span').code-snippet
									| _size_{breakpoint-name}-{size-name}
								| .

			h3 JS

			p
				| Персональный JavaScript отсутствует.

			h2#documentation-title Блок Title

			h3 Jade Mixin

			p
				| Аргументы:

			ul
				li
					+e('span').code-snippet
						| tag
					= ' - html тэг, который будет использоваться для заголовка. По-умолчанию - '
					+e('span').code-snippet
						| div
					| .

			h3 Styl

			p
				| Модификаторы:

			ul
				li
					+e('span').code-snippet
						| _size
					= ' - отвечает за размер шрифта.'
					ul
						li
							+e('span').code-snippet
								| _h1
						li
							+e('span').code-snippet
								| _h2
						li
							+e('span').code-snippet
								| _h3
						li
							+e('span').code-snippet
								| _h4
						li
							+e('span').code-snippet
								| _h5
						li
							+e('span').code-snippet
								| _h6
				li
					+e('span').code-snippet
						| _align
					= ' - отвечает за горизонтальное выравнивание текста. Без модификатора эффект аналогичен состоянию '
					+e('span').code-snippet
						| _left
					| .
					ul
						li
							+e('span').code-snippet
								| _left
						li
							+e('span').code-snippet
								| _center
						li
							+e('span').code-snippet
								| _right
						li
							p
								= 'Также генерируются модификаторы для каждой контрольной точки в формате '
								+e('span').code-snippet
									| _align_{breakpoint-name}-{align-type}
								| .

			h3 JS

			p
				| Персональный JavaScript отсутствует.

			h2#documentation-section Блок Section

				h3 Jade Mixin

				p
					| Агрументы:

				ul
					li
						+e('span').code-snippet
							| item
						= ' - принимает объект cо следующими свойстами:'

						ul
							li
								+e('span').code-snippet
									| title
								= ' - объект cо следующими свойстами:'
								ul
									li
										+e('span').code-snippet
											| tag
										= ' - html тэг, который будет использоваться для загловка. По-умолчанию '
										+e('span').code-snippet
											| div
										| .
									li
										+e('span').code-snippet
											| size
										= ' - размер шрифта заголовка, см. '
										+e('a').code-snippet(href='#documentation-title')
											| title
										= '. По-умолчанию '
										+e('span').code-snippet
											| h2
										| .
									li
										+e('span').code-snippet
											| modifiers
										= ' - дополнительные модификаторы заголовка.'
									li
										+e('span').code-snippet
											| text
											+e('span').asterisk *
										= ' - текст заголовка.'

				h3 Styl

				p
					| Модификаторы:

				ul
					li
						+e('span').code-snippet
							| _spacing
						= ' - отвечает за отступы сверху и снизу блока.'
						ul
							li
								+e('span').code-snippet
									| _close
							li
								+e('span').code-snippet
									| _small
							li
								+e('span').code-snippet
									| _medium
							li
								+e('span').code-snippet
									| _large
							li
								+e('span').code-snippet
									| _top
								ul
									li
										+e('span').code-snippet
											| -close
									li
										+e('span').code-snippet
											| -small
									li
										+e('span').code-snippet
											| -medium
									li
										+e('span').code-snippet
											| -large
							li
								+e('span').code-snippet
									| _bottom
								ul
									li
										+e('span').code-snippet
											| -close
									li
										+e('span').code-snippet
											| -small
									li
										+e('span').code-snippet
											| -medium
									li
										+e('span').code-snippet
											| -large

				h3 JS

				p
					| Персональный JavaScript отсутствует.
