extends ../blocks/layout-default/layout-default

block head
	- var pageTitle = 'Front page';

block content
	+e.breadcrumbs
		.grid__container
			+breadcrumbs([
				{
					name: 'Page List',
					href: 'index.html'
				},
				{
					name: 'Front Page'
				}
			])

	+e.section
		+section({
			title: {
				tag: 'h1',
				size: 'h1',
				modifiers: '_align_center',
				text: 'Front page'
			}
		})._spacing_top-close
			.grid__container
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error assumenda iure ut possimus neque nesciunt molestias soluta esse debitis. Magni impedit quae consectetur consequuntur adipisci veritatis modi a, officia cum. Iure nemo veniam repellendus fugit ullam commodi dolor illum expedita natus architecto voluptatum, ad sapiente rerum eos adipisci inventore aliquid quam quidem! Repellat, debitis exercitationem suscipit quae dolorem ullam fugit.
