extends ../blocks/layout-default/layout-default

block head
	- var pageTitle = 'Grid';

block content
	.grid__container
		+documentation()
			h1 Документация по Grid

			p
				| Данная сетка собрана на flexbox. Имеет функционал кастомизации размера и позиционирования колонок для каждой контрольной точки, а также функционал вкладывания сеток друг в друга. Конфигурация сеток находится в файле varaibles.styl.

			h2
				| Блок grid
			p
				= 'Класс '
				span.documentation__code-snippet
					| .grid
				= ' должен быть выставлен на тег '
				span.documentation__code-snippet
					| body
				= '.'

			p
				| Модификаторы:

			ul
				li
					span.documentation__code-snippet
						| _cols
					= ' - отвечает за максимальное количество столбиков в сетке.'
					ul
						li
							span.documentation__code-snippet
								| _12
							= ' (конфигурируемо)'
						li
							span.documentation__code-snippet
								| _16
							= ' (конфигурируемо)'

			h2
				| Элемент container
			p
				= 'Для ограничивания ширины используется элемент '
				span.documentation__code-snippet
					| .grid__container
				= '. Его можно использовать не только для сетки, но и как обычную обертку для контента страницы. Его максимальная ширина конфигурируема.'

			p
				| Модификаторы отсутствуют

			h2
				| Элемент group

			p
				= 'Элемент '
				span.documentation__code-snippet
					| .grid__group
				= ' должен являться прямым родителем для колонок, и только для них. Действует и обратное правило: колонки должны быть обязательным прямым дочерним элементом их группы (в исключения входят специально сверстанные блоки, имитирующие поведение данных элементов).'

			p
				| Модификаторы:

			ul
				li
					span.documentation__code-snippet
						| _align-items
					= ' - отвечает за вертикальное позиционирование колонок на одном уровне (строке), если у них возможна вариация высоты. Без модификатора высота колонок на одном строке равна.'

					ul
						li
							span.documentation__code-snippet
								| _start
						li
							span.documentation__code-snippet
								| _center
						li
							span.documentation__code-snippet
								| _end
				li
					span.documentation__code-snippet
						| _justify-content
					= ' - отвечает за горизонтальное позиционирование колонок на одном уровне (строке), если сумма размеров колонок меньше, чем их максимальное допустимое количество. Без модификатора эффект аналогичен состоянию '
					span.documentation__code-snippet
						| _start

					= '.'

					ul
						li
							span.documentation__code-snippet
								| _start
						li
							span.documentation__code-snippet
								| _center
						li
							span.documentation__code-snippet
								| _end

			h2
				| Элемент col

			p
				= 'Колонки сетки'

			p
				| Модификаторы:

			ul
				li
					span.documentation__code-snippet
						| _size
					= ' - размер колонки. Без модификатора колонка занимает максимальное доступное место в строке, несколько колонок без модификатора в одной строке будут иметь одинаковый размер.'

					ul
						li
							= 'От '
							span.documentation__code-snippet
								| _1
							= ' до '
							span.documentation__code-snippet
								| _12
							= ' (наибольшей модификатор равен максимальному количеству колонок)'

			h2
				| Остальные элементы

			ul
				li
					span.documentation__code-snippet
						| .grid__panel-view
					= ' - обертка для групп колонок, имеет вертикальные отступы. Отступы не кофигурируемы.'
				li
					span.documentation__code-snippet
						| .grid__break
					= ' - обрыв строки.'
				li
					span.documentation__code-snippet
						| .grid__holder
					= ' - элемент со 100% высоты. Удобно миксовать с прямыми дочерними элементами колонок, для вытягивания их во всю высоту колонки.'
