extends ../blocks/layout-default/layout-default

block head
	- var pageTitle = 'Grid';
	link(link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css")
	link(link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/routeros.min.css")
	script( src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js")
	script( src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.7.0/highlightjs-line-numbers.min.js")
	script
		| hljs.initHighlightingOnLoad();
		| hljs.initLineNumbersOnLoad();

block content
	+e.breadcrumbs
		.grid__container
			+breadcrumbs([
				{
					name: 'Page List',
					href: 'index.html'
				},
				{
					name: 'Grid'
				}
			])
	+grid
		+e.container
			+example
				+e.group
					+e.title
						| What is it?

					+e.description
						| Bla bla bla

				+e.group
					+e.title
						| Configuration

					+e.description
						| Width, breakpoints, bla, bla, bla

					+e('pre').source
						code(class="JSON")
							| breakpoints = {
							|	xs: 1px,
							|	s: 480px,
							|	m: 768px,
							|	l: 1025px,
							|	xl: 1281px,
							|	xxl: 1440pxl
							| }
							| grids = {
							|	primary: {
							|		colls: 12,
							|		gutterWidth: 15px,
							|		containerMaxWidth: 1280px,
							|		breakpoints: breakpoints
							|	},
							|	secondary: {
							|		colls: 16,
							|		gutterWidth: 15px,
							|		containerMaxWidth: 1280px,
							|		breakpoints: breakpoints
							|	}
							| }

				+e.group
					+e.title
						| Equal-width and multi-row
					+e.description
						| Without the use of <a href="#responsive">modifiers the width</a> of the columns
						| is the same (but it may depend on the contents inside).
						br
						| Insert <b>.grid__breaker</b> if you want the columns
						| to break to a new line. Also you can use <a href="#">responsive display modifiers</a>.
						| For example <b>.grid__breaker.grid__breaker_lg</b>

					+e.tabs
						+tabs([
							{
								text: 'html',
								href: '#tab1'
							},
							{
								text: 'pug/jade',
								href: '#tab2',
								class: '_state_active'
							},
							{
								text: 'disabled',
								href: '#tab3',
								class: '_state_disabled'
							}
						])._nav-align_right
							+e#tab1.panel
								pre.example__source.example__source_border_none
									code(class="html")
										| &lt;!-- begin .grid--&gt;
										| &lt;div class="grid"&gt;
										|	&lt;div class=&quot;grid grid_state_demo&quot;&gt;
										|		&lt;div class=&quot;grid__container&quot;&gt;
										|			&lt;div class=&quot;grid__group&quot;&gt;
										|				&lt;div class=&quot;grid__col&quot;&gt;
										|					&lt;div class=&quot;grid__holder grid__panel&quot;&gt;Col 1&lt;/div&gt;
										|				&lt;/div&gt;
										|				&lt;div class=&quot;grid__col&quot;&gt;
										|					&lt;div class=&quot;grid__holder grid__panel&quot;&gt;Col 2&lt;/div&gt;
										|				&lt;/div&gt;
										|				&lt;div class=&quot;grid__col&quot;&gt;
										|					&lt;div class=&quot;grid__holder grid__panel&quot;&gt;Col 3&lt;/div&gt;
										|				&lt;/div&gt;
										|				&lt;div class=&quot;grid__breaker&quot;&gt;&lt;/div&gt;
										|				&lt;div class=&quot;grid__col&quot;&gt;
										|					&lt;div class=&quot;grid__holder grid__panel&quot;&gt;Col 1&lt;/div&gt;
										|				&lt;/div&gt;
										|				&lt;div class=&quot;grid__col&quot;&gt;
										|					&lt;div class=&quot;grid__holder grid__panel&quot;&gt;Col 2&lt;/div&gt;
										|				&lt;/div&gt;
										|			&lt;/div&gt;
										|		&lt;/div&gt;
										|	&lt;/div&gt;
										| &lt;/div&gt;
										| &lt;!-- end .grid--&gt;

							+e#tab2.panel
								| pug/jade

							+e#tab3.panel
								| You can't view this tab.

					+e.result
						+grid._state_demo
							+e.container
								+e.group
									+e.col
										+e.holder.grid__panel
											| Col 1
									+e.col
										+e.holder.grid__panel
											| Col 2
									+e.col
										+e.holder.grid__panel
											| Col 3
									+e.breaker
									+e.col
										+e.holder.grid__panel
											| Col 1
									+e.col
										+e.holder.grid__panel
											| Col 2

				+e#responsive.group
					+e.title
						| Responsive classes
					+e.description
						| Bla bla bla responsive classes

					+e('pre').source
						code(class="html")
							| &lt;!-- begin .grid--&gt;
							| &lt;div class=&quot;grid&quot;&gt;
							|		&lt;div class=&quot;grid__container&quot;&gt;
							|			&lt;div class=&quot;grid__group&quot;&gt;
							|				&lt;div class=&quot;grid__col grid__col_size_2&quot;&gt;
							|					&lt;div class=&quot;grid__holder grid__panel&quot;&gt;Col 1&lt;/div&gt;
							|				&lt;/div&gt;
							|				&lt;div class=&quot;grid__col grid__col_size_2&quot;&gt;
							|					&lt;div class=&quot;grid__holder grid__panel&quot;&gt;Col 2&lt;/div&gt;
							|				&lt;/div&gt;
							|				&lt;div class=&quot;grid__col grid__col_size_2&quot;&gt;
							|					&lt;div class=&quot;grid__holder grid__panel&quot;&gt;Col 3&lt;/div&gt;
							|				&lt;/div&gt;
							|				&lt;div class=&quot;grid__col grid__col_size_6&quot;&gt;
							|					&lt;div class=&quot;grid__holder grid__panel&quot;&gt;Col 3&lt;/div&gt;
							|				&lt;/div&gt;
							|				&lt;div class=&quot;grid__breaker&quot;&gt;&lt;/div&gt;
							|				&lt;div class=&quot;grid__col grid__col_size_6&quot;&gt;
							|					&lt;div class=&quot;grid__holder grid__panel&quot;&gt;Col 1&lt;/div&gt;
							|				&lt;/div&gt;
							|				&lt;div class=&quot;grid__col grid__col_size_4&quot;&gt;
							|					&lt;div class=&quot;grid__holder grid__panel&quot;&gt;Col 2&lt;/div&gt;
							|				&lt;/div&gt;
							|				&lt;div class=&quot;grid__col grid__col_size_2&quot;&gt;
							|					&lt;div class=&quot;grid__holder grid__panel&quot;&gt;Col 3&lt;/div&gt;
							|				&lt;/div&gt;
							|			&lt;/div&gt;
							|		&lt;/div&gt;
							|	&lt;/div&gt;
							| &lt;!-- end .grid--&gt;

					+e.result
						+grid._state_demo
							+e.container._width_fixed
								+e.group
									+e.col._size_2
										+e.holder.grid__panel
											| Col 1
									+e.col._size_2
										+e.holder.grid__panel
											| Col 2
									+e.col._size_2
										+e.holder.grid__panel
											| Col 3
									+e.col._size_6
										+e.holder.grid__panel
											| Col 3
									+e.breaker
									+e.col._size_6
										+e.holder.grid__panel
											| Col 1
									+e.col._size_4
										+e.holder.grid__panel
											| Col 2
									+e.col._size_2
										+e.holder.grid__panel
											| Col 3

	+grid._style_debug
		+e.container
			+e.view-panel

				+e.group
					+e.col._size_11
						+e(class="__holder")
							+grid._cols_16._style_debug
								+e.container
									+e.view-panel
										+e.group
											+e.col._size_1
												+e(class="__holder __panel")
													| &nbsp;
											+e.col._size_1
												+e(class="__holder __panel")
													| &nbsp;
											+e.col._size_1
												+e(class="__holder __panel")
													| &nbsp;
											+e.col._size_1
												+e(class="__holder __panel")
													| &nbsp;
											+e.col._size_1
												+e(class="__holder __panel")
													| &nbsp;
											+e.col._size_1
												+e(class="__holder __panel")
													| &nbsp;
											+e.col._size_1
												+e(class="__holder __panel")
													| &nbsp;
											+e.col._size_1
												+e(class="__holder __panel")
													| &nbsp;
											+e.col._size_1
												+e(class="__holder __panel")
													| &nbsp;
											+e.col._size_1
												+e(class="__holder __panel")
													| &nbsp;
											+e.col._size_1
												+e(class="__holder __panel")
													| &nbsp;
											+e.col._size_1
												+e(class="__holder __panel")
													| &nbsp;
											+e.col._size_1
												+e(class="__holder __panel")
													| &nbsp;
											+e.col._size_1
												+e(class="__holder __panel")
													| &nbsp;
											+e.col._size_1
												+e(class="__holder __panel")
													| &nbsp;
											+e.col._size_1
												+e(class="__holder __panel")
													| &nbsp;
					+e.col._size_1
						+e(class="__holder __panel")

			+e.view-panel
				+e.group
					+e.col
						+e(class="__holder __panel")
							| col 1
					+e.col
						+e(class="__holder __panel")
							| col 1
					+e.breaker
						| &nbsp
					+e.col
						+e(class="__holder __panel")
							| col 1
					+e.col
						+e(class="__holder __panel")
							| col 1
					+e.col
						+e(class="__holder __panel")
							| col 1

			+e.view-panel
				+e.group
					+e.col._size_2
						+e(class="__holder __panel")
							| col 1
					+e.col._size_2
						+e(class="__holder __panel")
							| col 2
					+e.col._size_2
						+e(class="__holder __panel")
							| col 3
					+e.col._size_2
						+e(class="__holder __panel")
							| col 4
					+e.col._size_2
						+e(class="__holder __panel")
							| col 5
					+e.col._size_2
						+e(class="__holder __panel")
							| col 6
					+e.col._size_2
						+e(class="__holder __panel")
							| col 7
					+e.col._size_2
						+e(class="__holder __panel")
							| col 8
					+e.col._size_2
						+e(class="__holder __panel")
							| col 9
					+e.col._size_2
						+e(class="__holder __panel")
							| col 10
					+e.col._size_2
						+e(class="__holder __panel")
							| col 11
					+e.col._size_2
						+e(class="__holder __panel")
							| col 12

	+grid._cols_16._style_debug
		+e.container
			+e.view-panel
				+e.group
					+e.col._size_1
						+e(class="__holder __panel")
							| 16 col 1
					+e.col._size_1
						+e(class="__holder __panel")
							| 16 col 2
					+e.col._size_1
						+e(class="__holder __panel")
							| 16 col 3
					+e.col._size_1
						+e(class="__holder __panel")
							| 16 col 4
					+e.col._size_1
						+e(class="__holder __panel")
							| 16 col 5
					+e.col._size_1
						+e(class="__holder __panel")
							| 16 col 6
					+e.col._size_1
						+e(class="__holder __panel")
							| 16 col 7
					+e.col._size_1
						+e(class="__holder __panel")
							| 16 col 8
					+e.col._size_1
						+e(class="__holder __panel")
							| 16 col 9
					+e.col._size_1
						+e(class="__holder __panel")
							| 16 col 10
					+e.col._size_1
						+e(class="__holder __panel")
							| 16 col 11
					+e.col._size_1
						+e(class="__holder __panel")
							| 16 col 12
					+e.col._size_1
						+e(class="__holder __panel")
							| 16 col 13
					+e.col._size_1
						+e(class="__holder __panel")
							| 16 col 14
					+e.col._size_1
						+e(class="__holder __panel")
							| 16 col 15
					+e.col._size_1
						+e(class="__holder __panel")
							| 16 col 16

	+grid._colls_12._style_debug
		+e.container
			+e.view-panel
				+e.group
					+e.col._size_2
						+e(class="__holder __panel")
							| col 1
					+e.col._size_2
						+e(class="__holder __panel")
							img(src="https://via.placeholder.com/150/FF0000/FFFFFF", alt="Image")
					+e.col._size_2
						+e(class="__holder __panel")
							| col 3, 4, 5, 6
					+e.col._size_2
						+e(class="__holder __panel")
							| col 7
					+e.col._size_2
						+e(class="__holder __panel")
							| col 8
					+e.col._size_2
						+e(class="__holder __panel")
							| col 9
					+e.col._size_auto
						+e(class="__holder __panel")
							| col auto
			+e.view-panel
				+e.group._align-items_start
					+e.col._size_4
						+e(class="__holder __panel")
							| col 4
							br
							| col 4
							br
							| col 4
							br
							| col 4
					+e.col._size_1
						+e(class="__holder __panel")
							| col 5
					+e.col._size_1
						+e(class="__holder __panel")
							| col 6
					+e.col._size_1
						+e(class="__holder __panel")
							| col 7
					+e.col._size_1
						+e(class="__holder __panel")
							| col 8
					+e.col._size_1
						+e(class="__holder __panel")
							| col 9
					+e.col._size_1
						+e(class="__holder __panel")
							| col 10
					+e.col._size_1
						+e(class="__holder __panel")
							| col 11
					+e.col._size_1
						+e(class="__holder __panel")
							| col 12
			+e.view-panel
				+e.group._align-items_center
					+e.col._size_4
						+e(class="__holder __panel")
							| col 4
							br
							| col 4
							br
							| col 4
							br
							| col 4
					+e.col._size_1
						+e(class="__holder __panel")
							| col 5
					+e.col._size_1
						+e(class="__holder __panel")
							| col 6
					+e.col._size_1
						+e(class="__holder __panel")
							| col 7
					+e.col._size_1
						+e(class="__holder __panel")
							| col 8
					+e.col._size_1
						+e(class="__holder __panel")
							| col 9
					+e.col._size_1
						+e(class="__holder __panel")
							| col 10
					+e.col._size_1
						+e(class="__holder __panel")
							| col 11
					+e.col._size_1
						+e(class="__holder __panel")
							| col 12
			+e.view-panel
				+e.group._align-items_end
					+e.col._size_4
						+e(class="__holder __panel")
							| col 4
							br
							| col 4
							br
							| col 4
							br
							| col 4
					+e.col._size_1
						+e(class="__holder __panel")
							| col 5
					+e.col._size_1
						+e(class="__holder __panel")
							| col 6
					+e.col._size_1
						+e(class="__holder __panel")
							| col 7
					+e.col._size_1
						+e(class="__holder __panel")
							| col 8
					+e.col._size_1
						+e(class="__holder __panel")
							| col 9
					+e.col._size_1
						+e(class="__holder __panel")
							| col 10
					+e.col._size_1
						+e(class="__holder __panel")
							| col 11
					+e.col._size_1
						+e(class="__holder __panel")
							| col 12
			+e.view-panel
				+e.group
					+e.col._size_4
						+e(class="__holder __panel")
							| col 4
							br
							| col 4
							br
							| col 4
							br
							| col 4
					+e.col._size_1
						+e(class="__holder __panel")
							| col 5
					+e.col._size_1
						+e(class="__holder __panel")
							| col 6
					+e.col._size_1
						+e(class="__holder __panel")
							| col 7
					+e.col._size_1
						+e(class="__holder __panel")
							| col 8
					+e.col._size_1
						+e(class="__holder __panel")
							| col 9
					+e.col._size_1
						+e(class="__holder __panel")
							| col 10
					+e.col._size_1
						+e(class="__holder __panel")
							| col 11
					+e.col._size_1
						+e(class="__holder __panel")
							| col 12

			+e.view-panel
				+e.group
					+e.col._size_6._order_2
						+e(class="__holder __panel")
							| Order 2
					+e.col._size_6._order_1
						+e(class="__holder __panel")
							| Order 1

	+grid._style_debug
		+e.container
			+e.view-panel
				+e.group._justify-content_start
					+e.col._size_1
						+e(class="__holder __panel")
							| col 1
					+e.col._size_1
						+e(class="__holder __panel")
							| col 2
					+e.col._size_1
						+e(class="__holder __panel")
							| col 3
					+e.col._size_1
						+e(class="__holder __panel")
							| col 4
					+e.col._size_1
						+e(class="__holder __panel")
							| col 5
					+e.col._size_1
						+e(class="__holder __panel")
							| col 6

				+e.group._justify-content_center
					+e.col._size_1
						+e(class="__holder __panel")
							| col 1
					+e.col._size_1
						+e(class="__holder __panel")
							| col 2
					+e.col._size_1
						+e(class="__holder __panel")
							| col 3
					+e.col._size_1
						+e(class="__holder __panel")
							| col 4
					+e.col._size_1
						+e(class="__holder __panel")
							| col 5
					+e.col._size_1
						+e(class="__holder __panel")
							| col 6

				+e.group._justify-content_end
					+e.col._size_1
						+e(class="__holder __panel")
							| col 1
					+e.col._size_1
						+e(class="__holder __panel")
							| col 2
					+e.col._size_1
						+e(class="__holder __panel")
							| col 3
					+e.col._size_1
						+e(class="__holder __panel")
							| col 4
					+e.col._size_1
						+e(class="__holder __panel")
							| col 5
					+e.col._size_1
						+e(class="__holder __panel")
							| col 6

				+e.group._justify-content_around
					+e.col._size_1
						+e(class="__holder __panel")
							| col 1
					+e.col._size_1
						+e(class="__holder __panel")
							| col 2
					+e.col._size_1
						+e(class="__holder __panel")
							| col 3
					+e.col._size_1
						+e(class="__holder __panel")
							| col 4
					+e.col._size_1
						+e(class="__holder __panel")
							| col 5
					+e.col._size_1
						+e(class="__holder __panel")
							| col 6

				+e.group._justify-content_between
					+e.col._size_1
						+e(class="__holder __panel")
							| col 1
					+e.col._size_1
						+e(class="__holder __panel")
							| col 2
					+e.col._size_1
						+e(class="__holder __panel")
							| col 3
					+e.col._size_1
						+e(class="__holder __panel")
							| col 4
					+e.col._size_1
						+e(class="__holder __panel")
							| col 5
					+e.col._size_1
						+e(class="__holder __panel")
							| col 6
