extends ../blocks/layout-default/layout-default

block head
	- var pageTitle = 'Project Template';

block content
	.grid__container
		+e.section
			+section({
				title: {
					tag: 'h2',
					size: 'h1',
					text: 'Pages'
				}
			})._spacing_top-close
				+work-list([
					{
						name: 'Front page',
						href: 'front-page.html'
					},
					{
						name: 'Documentations',
						href: 'docs.html'
					},
					{
						name: 'Block showcase',
						href: 'block-showcase.html'
					},
					{
						name: 'Grid',
						href: 'grid.html'
					},
					{
						name: 'Base Styles',
						href: 'base-styles.html'
					}
				])

		+e.section
			+section({
				title: {
					tag: 'h2',
					size: 'h1',
					text: 'Modal window list'
				}
			})._spacing_bottom-close
				+work-list([
					{
						name: 'A modal window',
						href: '#modalWindow',
						type: 'modal'
					}
				])
