DIR = '../blocks/page/'
IMG_DIR = DIR + 'images/'

.page
	position relative
	display block
	min-height 100%



	&__body
		background #fff


		// Модификаторы
		&_nav
			&_open
				overflow hidden
				max-height 100%

				+above(size-l)
					overflow visible
					max-height none



	&__footer
		background #3A3A3A

		// Modifiers
		&_type
			&_sticky
				position absolute
				left 0
				bottom 0
				z-index 100
				width 100%



	&__header
		width 100%
		background #fafafa
		border-bottom 1px solid #e6e6e6



	&__nav
		display none

		+above(size-l)
			display block

		&-panel
			padding 5px 0
			text-align right
			background #f5f5f5
			box-shadow 0 6px 26px rgba(0, 0, 0, .05)

			+above(size-l)
				padding 0
				text-align left



	&__burger
		display inline-block
		vertical-align middle
		font-size 0

		+above(size-l)
			display none



	&__slide-nav
		position fixed
		top 0
		left 0
		z-index 400
		transform translate(-200%, 0)
		overflow auto
		width 100%
		height 100%
		padding 0 0 0 60px
		text-align right
		background #f5f5f5
		box-shadow 0 2px 4px 0 rgba(0 0 0 .5)
		transition transform .3s ease-in

		+above(size-l)
			display none
			overflow visible

		// Modifiers
		&_state
			&_open
				transform translate(-60px, 0)



	&__content
		padding 20px 0 0

		+above(size-l)
			padding 75px 0 0




	&__title
		margin 0 0 30px
