DIR = '../blocks/collapsible-block/'
IMG_DIR = DIR + 'images/'

.collapsible-block
	display block



	&__header
		position relative



	&__title
		display block
		padding 15px 60px 15px 20px
		color #333
		font-size 18px
		font-weight 500
		line-height 1
		text-decoration none
		cursor pointer
		background #f6f6f6

		+above(size-m)
			font-size 22px

		&:hover
		&:active
			color #333
			text-decoration none
			background #f2f2f2



	&__close
		position absolute
		top 50%
		right 20px
		z-index 5
		display block
		width 32px
		height 32px
		font-size 0
		background #bfbfbf
		border none
		border-radius 50%
		outline none
		transform translate(0, -50%)

		&:before
			content ''
			position absolute
			top 50%
			left 50%
			display block
			width 9px
			height 9px
			border-right 2px solid #676767
			border-bottom 2px solid #676767
			transform translate(-50%, -75%) rotate(45deg)



	&__main
		display none
		padding 20px 0



	&__fields
		margin 0 0 20px

		&:last-child
			margin-bottom 0



	&__field
		margin 0 0 10px
		color #000
		font-size 16px
		line-height 28px

		&:last-child
			margin-bottom 0



	// Modifiers
	&_state
		&_open
			.collapsible-block
				&__close
					&:before
						border none
						border-top 2px solid #676767
						border-left 2px solid #676767
						transform translate(-50%, -25%) rotate(45deg)

				&__main
					display block
