mixin collapsible-block(item)
	- var DIR = 'assets/blocks/collapsible-block/';
	- var IMG_DIR = DIR + 'images/';
	// begin .collapsible-block
	+b.collapsible-block&attributes(attributes)
		if item
			+e.header
				+e.title(href='#' class='js-toggle' data-toggle-scope='.collapsible-group__item' data-toggle-target='.collapsible-block' data-toggle-class='collapsible-block_state_open')
					!=item.title

					+e.close
						| Закрыть

			+e.main(id=item.target)
				+e.fields
					each field in item.fields
						+e.field
							!=field.text
		block
	// end .collapsible-block
