mixin logo(image)
	- var DIR = 'assets/blocks/logo/';
	- var IMG_DIR = DIR + 'images/';
	// begin .logo
	+b.logo(href="index.html")&attributes(attributes)
		if image
			+e.image(src=IMG_DIR + image alt="Site Name")
	// end .logo
