DIR = '../blocks/logo/'
IMG_DIR = DIR + 'images/'

.logo
	display inline-block
	vertical-align middle



	&__image
		display block
		width 100%
		max-width 130px
		height auto

		+above(size-l)
			width 100%
			max-width 180px
