mixin tabs(items)
	- var DIR = 'assets/blocks/tabs/';
	- var IMG_DIR = DIR + 'images/';
	// begin .tabs
	+b.tabs&attributes(attributes)
		if items
			+e('ul').nav
				each item in items
					+e('li').item
						if item.text && item.href
							+e('a').label(href=item.href class=item.class)
								!=item.text
		+e.content
			block
	// end .tabs
