DIR = '../blocks/tabs/'
IMG_DIR = DIR + 'images/'

.tabs
	display block



	&__nav
		display flex
		margin 0
		padding 0
		list-style none
		line-height 1.6



	&__item
		margin 0
		padding 0
		list-style none



	&__label
		display block
		padding 5px 10px
		color #6b6b6b
		font-size 16px
		line-height 1.6
		text-decoration none
		background #f4f4f4
		border 1px solid #e8e8e8
		border-radius 6px 6px 0 0

		// Modifiers
		&_state
			&_active
				color #000
				background #fbfbfb

			&_disabled
				cursor not-allowed
				opacity .5



	&__content
		margin -1px 0 0
		border 1px solid #e8e8e8



	&__panel

		// Modifiers
		&_state
			&_hidden
				display none

			&_active
				display block



	// Modifiers
	&_nav-align
		&_left
			.tabs
				&__nav
					justify-content flex-start

		&_center
			.tabs
				&__nav
					justify-content center

		&_right
			.tabs
				&__nav
					justify-content flex-end

		&_around
			.tabs
				&__nav
					justify-content space-around

		&_between
			.tabs
				&__nav
					justify-content space-between
