mixin header()
	- var DIR = 'assets/blocks/header/';
	- var IMG_DIR = DIR + 'images/';
	// begin .header
	+b.header&attributes(attributes)
		.grid__container
			.grid__group
				.grid__col.grid__col_size_3
					+e.logo
						+logo('logo.png')
				.grid__col.grid__col_size_9
					| Header
	// end .header
