DIR = '../blocks/fancybox/'
IMG_DIR = DIR + 'images/'

.fancybox
	&-content
		padding 20px 30px



	&-slide
		padding 10px 0

		+above(size-m)
			padding 6px



	&-can-swipe
		.fancybox
			&-content
				cursor default
