mixin footer()
	- var DIR = 'assets/blocks/footer/';
	- var IMG_DIR = DIR + 'images/';
	// begin .footer
	+b.footer&attributes(attributes)
		.grid__container
			+e.main
				.grid__group
					.grid__col.grid__col_size_12.grid__col_size_m-3.grid__col_size_l-2
						+e.logo
							+logo('logo.png')
					.grid__col.grid__col_size_12.grid__col_size_m-9.grid__col_size_l-10
						| Footer stuff

			+e.bottom
				+e.copyright
					| (C) stuff
		block
	// end .footer
