DIR = '../blocks/footer/'
IMG_DIR = DIR + 'images/'

.footer
	display block
	padding 25px 0 10px
	color #fff



	&__main
		margin 0 0 15px
		text-align center

		+above(size-m)
			text-align left

		&:last-child
			margin-bottom 0



	&__logo
		padding 0 0 10px
		text-align center

		+above(size-m)
			padding 0
			text-align left



	&__copyright
		font-size 14px
		text-align center
