DIR = '../blocks/rating/'
IMG_DIR = DIR + 'images/'

.rating
	display inline-block



	&__items
		display flex
		flex-wrap nowrap



	&__item
		position relative
		display block
		width 15px
		height 15px
		margin 0 0 0 3px
		background transparent
		border none
		outline none

		+above(size-m)
			width 18px
			height 18px
			margin 0 0 0 5px

		for num, i in (1..5)
			&:nth-child({num})
				order (5 - i)

		&:last-child
			margin-left 0



	&__mark
		display block
		width 15px
		height 15px
		margin 0
		padding 0
		fill #c9c9c9

		def-trn fill

		+above(size-m)
			width 18px
			height 18px

		// Modifiers
		&_state
			&_active
				fill #ffd23b



	// Modifiers
	&_size
		&_stable
			.rating
				&__item
					width 18px
					height 18px
					margin 0 0 0 5px

					&:last-child
						margin-left 0

				&__mark
					width 18px
					height 18px

		&_large
			.rating
				&__label
					margin 0 0 17px
					font-size 17px

				&__item
					width 24px
					height 24px
					margin 0 0 0 7px

					&:last-child
						margin-left 0

				&__mark
					width 24px
					height 24px

	&_marks
		for num in (1..5)
			&_{6 - num}
				if num == 1
					.rating
						&__mark
							fill #ffd23b
				else
					.rating
						&__item
							&:nth-child(n + {num})
								.rating
									&__mark
										fill #ffd23b

	&_type_interactable
		&:hover
			.rating__item
				// Modifire reset
				&:nth-child(n)
					.rating__mark
						fill #c9c9c9

				// Mark highlight
				for num in (1..5)
					&:nth-child({num})
						hoverSelector = '&:hover'
						elems = 6 - num // @stylint ignore

						for elem in 1..elems
							{hoverSelector}
								if elem == elems
									.rating__mark
										fill #ffd23b

							hoverSelector = hoverSelector + ', ' + hoverSelector + ' + .rating__item'
