mixin rating(interactable)
	- var DIR = 'assets/blocks/rating/';
	- var IMG_DIR = DIR + 'images/';
	// begin .rating
	if interactable
		- interactableClass = '_type_interactable'

	+b.rating(class=interactableClass)&attributes(attributes)
		+e.items
			- var items = new Array(5)
			for item, i in items
				if interactable
					+e('button').item(class='js-rating-trigger')
						+icon('star').mark
				else
					+e.item
						+icon('star').mark

		block
	// end .rating
