DIR = '../blocks/entry-snippet/'
IMG_DIR = DIR + 'images/'

.entry-snippet
	display flex
	flex-direction column
	padding 20px 15px
	border 1px solid #d2d2d2
	border-radius 4px



	&__illustration
		position relative
		display block
		overflow hidden
		flex 0 0 auto
		width 100%
		height auto
		margin 0 0 15px

		&:last-child
			margin-bottom 0

		&[href]
			color inherit
			text-decoration none

			def-trn opacity

			&:hover
			&:active
			&:focus
				color inherit
				text-decoration none
				opacity .8

		&:before
			content ''
			display block
			width 100%
			height auto
			padding 100% 0 0



	&__image
		position absolute
		top 50%
		left 50%
		z-index 1
		display block
		width auto
		max-width 100%
		height auto
		max-height 100%
		margin 0
		padding 0
		transform translate(-50%, -50%)



	&__content
		display block
		flex 1 0 auto
		margin 0 0 10px

		&:last-child
			margin-bottom 0



	&__title
		margin 0 0 10px
		font-size 18px
		font-weight 700

		&:last-child
			margin-bottom 0



	&__description
		margin 0 0 10px

		&:last-child
			margin-bottom 0



	&__footer
		display flex
		align-items center
		flex 0 0 auto
		flex-wrap nowrap
		margin 0 0 10px

		&:last-child
			margin-bottom 0




	&__date
		flex 0 0 auto



	&__controls
		flex 1 0 auto
		text-align right



	&__link
		display inline
		color #1eca9a
		text-decoration none

		def-trn color

		&:hover
		&:active
		&:focus
			color #f5a617
			text-decoration none

