mixin entry-snippet(item)
	- var DIR = 'assets/blocks/entry-snippet/';
	- var IMG_DIR = DIR + 'images/';
	// begin .entry-snippet
	+b.entry-snippet&attributes(attributes)
		if item
			if item.image
				+e.illustration(href=item.href)
					+e.image(src=IMG_DIR + item.image alt=item.title)

			+e.content
				+e.title
					!=item.title

				if item.description
					+e.description
						!=item.description

			+e.footer
				if item.date
					+e.date
						!=item.date

				+e.controls
					+e.link(href=item.href)
						| Read more

		block
	// end .entry-snippet
