DIR = '../blocks/entry-list/'
IMG_DIR = DIR + 'images/'

.entry-list
	display block
	overflow hidden



	&__items
		margin 0
		padding 0
		list-style none

		+above(size-s)
			display flex
			align-items stretch
			flex-wrap wrap
			margin 0 -10px

		+above(size-m)
			margin 0 -15px



	&__item
		display block
		margin 0 0 20px

		&:last-child
			margin-bottom 0


		+above(size-s)
			flex-basis 50%
			width 50%
			max-width 50%
			margin 0
			padding 10px

		+above(size-m)
			flex-basis 33.3333333%
			width 33.3333333%
			max-width 33.3333333%
			padding 15px

		+above(size-l)
			flex-basis 25%
			width 25%
			max-width 25%

		&-wrapper
			height 100%

