mixin entry-list(items)
	- var DIR = 'assets/blocks/entry-list/';
	- var IMG_DIR = DIR + 'images/';
	// begin .entry-list
	+b.entry-list&attributes(attributes)
		if items
			+e('ul').items
				each item in items
					+e('li').item
						+entry-snippet(item)(class=item.class + ' entry-list__item-wrapper')
		block
	// end .entry-list
