DIR = '../blocks/documentation/'
IMG_DIR = DIR + 'images/'

.documentation
	display block



	&__showcase
		display block
		width 100%
		margin 0 0 30px
		padding 50px
		background #eef
		border 1px solid #88f
		border-radius 4px
		box-shadow inset 0 0 10px #bbf

		&:last-child
			margin-bottom 0



	&__code
		display block
		width 100%
		margin 0 0 30px
		padding 10px
		color #fff
		font-family monospace, monospace
		font-size 16px
		line-height 1.2
		background #222222
		border 4px solid #545454
		border-radius 4px

		&:last-child
			margin-bottom 0

		&-row
			display block

		&-level
			display block
			padding 0 0 0 1em



	&__punctuation
		color #fff



	&__string
		color #E6DB74 // yellow



	&__element
		color #A6E22D // green



	&__number
		color #AE81FF // purple



	&__operator
		color #F92672 // red



	&__keyword
		color #66D9EF // blue



	&__code-snippet
		padding 1px
		font-family monospace, monospace
		background #c6c6c6
		border-radius 2px

		&[href]
			color inherit
			font-style italic
			text-decoration none
			outline none
			transition background-color .1s ease

			&:hover
			&:active
			&:focus
				color inherit
				text-decoration none
				background #d6d6d6



	&__asterisk
		vertical-align top
		color #ef5350
